nav {
	background-color: #808080;

}

a{
	background-color:#ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.board {
height:50%;
width:50%;
display: inline-block;
}

.card{
  background:yellow;
	height:200px;
	width:150px;
	border:1px solid black;
	border-radius:10px;
	float: left;
	margin: 8%;
}

h1{
	color:rgb(2,132,130);

}

h2 {
	color:#ffd700;
}
.name{
	color:#ff0000;

}
h1, h2, p{
	text-align:center;
}


footer {
	backgrond-color: #808080;
}

/*body{
	text-align:center;
}*/